@import url('components/header_style.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D2E30;
}

.container {
    width: 1600px;
    text-align: center;
    margin: auto;
}

p {
    color: #FFFFFF;
    font-size: 40px;
}

h1 {
    color: #FFFFFF;
    font-size: 64px;
}

input {
    width: 800px;
    height: 67px;
    border-radius: 67px;
    margin-top: 1%;
    background-color: #3A3939;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 2%;
}

textarea {
    margin-top: 1%;
    width: 800px;
    height: 288px;
    border-radius: 33px;
    background-color: #3A3939;
    color: #FFFFFF;
    font-size: 24px;
    padding: 2%;
    border: none;
}

#text {
    color: #FFFFFF;
    font-size: 40px;
}

.input-item {
    margin-top: 4%;
}

option {
    background-color: #3A3939;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

select {
    width: 800px;
    height: 67px;
    border-radius: 67px;
    color: #FFFFFF;
    background-color: #3A3939;
    text-align: center;
    font-size: 24px;
    margin-top: 1%;
    border: none;
    cursor: pointer;
}

select:hover {
    color: #FBCE04;
    background-color: #363636;
}

.upload-button {
    margin-top: 5%;
    width: 340px;
    height: 67px;
    border-radius: 67px;
    margin-bottom: 30px;

}

.logout{
    display: none;
}

.user-icon {
    top: 4vh;
    right: 50vh;
}

#text {
    color: #FFFFFF;
}

.error, .success {
    font-size: 24px;
}

.logo {
    width: 150px;
    text-align: center;
    font-size: 40px;
    color: #FBCE04;
    position: absolute;
    top: 2vh;
    margin-right: 35%;
}

.logo p {
    margin-left: 6%;
    color: #FBCE04;
}
.admin-button {
    display: none;
}
.error{
    font-size: 25px;
    margin-top: 10px;
    color: #FBCE04;
    
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    margin-top: 30px;
    padding-top: 30px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 800px;
    height: 67px;
    border-radius: 67px;
    margin-top: 1%;
    background-color: #3A3939;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 2%;
    overflow: scroll;
}

.custom-file-upload p{
    font-size: 24px;
    margin-top: 10px;
}
.add-button{
    display: none;
}

@media (max-width: 376px) {

.container {
    width: 375px;
    margin: auto;
    text-align: center;
}

.logo {
    width: 51px;
    height: 51px;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    margin-right: 50%;
}
h1{
    position: relative;
    top: 10vh;
}
form{
    position: relative;
    top: 15vh;
}

.logo img {
    width: 51px;
    height: 51px;
}

.logo p {
    margin-left: 4%;
    color: #FBCE04;
    font-size: 15px;
}

p {
    color: #FFFFFF;
    font-size: 20px;
}

h1 {
    color: #FFFFFF;
    font-size: 15px;
}

input {
    width: 280px;
    height: 35px;
    border-radius: 34px;
    margin-top: 1%;
    background-color: #3A3939;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 2%;
}

textarea {
    margin-top: 1%;
    width: 285px;
    height: 99px;
    border-radius: 15px;
    background-color: #3A3939;
    color: #FFFFFF;
    font-size: 10px;
    padding: 2%;
    border: none;
}

.input-file {
    width: 44px;
    height: 18px;
    border-radius: 61.5px;
}

select {
    width: 280px;
    height: 35px;
    border-radius: 67px;
    color: #FFFFFF;
    background-color: #3A3939;
    text-align: center;
    font-size: 10px;
    margin-top: 1%;
    border: none;
}

.upload-button {
    margin-top: 5%;
    width: 152px;
    height: 37px;
    font-size: 20px;
    border-radius: 67px;
}

.user-icon {
    position: relative;
    top: 4vh;
    left: 20vh;
}

.error, .success {
    font-size: 10px;
}

.custom-file-upload {
    margin-top: 15px;
    padding: 0;
    padding: 6px 12px;
    width: 280px;
    height: 37px;
    padding-left: 2%;
}

.custom-file-upload p{
    font-size: 18px;
    margin-top: 0px;
}
}