@import url('components/header_style.css');
@import url('components/mainpagevideos.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2D2E30;
}

.container {
    width: 1600px;
    margin: auto;
}

.logo {
    width: 150px;
    text-align: center;
    font-size: 40px;
    color: #FBCE04;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2vh;
}

.navbar {
    background-color: #3A3939;
    width: 214px;
    position: fixed;
    height: 950px;
    z-index: 10;
}

.category-item {
    margin-top: 20%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
}

.category-name1 {
    position: relative;
    right: 15%;
}

.navbar-buttons {
    display: flex;
    column-gap: 6%;
    position: relative;
    left: 15%;
    top: 5vh;
    width: 1400px;
}

#videos_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 18%;
    margin-top: 18%;
}

#no_result {
    color: #FFFFFF;
    position: absolute;
    margin-top: 27%;
    margin-left: 35%;
    font-size: 28px;
}



