@import url('components/header_style.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2D2E30;
}

.container {
    width: 1600px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    margin-top: 5%;
    font-size: 40px;
}

p {
    color: #FFFFFF;
    font-size: 26px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

input, button {
    background-color: #3A3939;
    border: none;
    color: #FFFFFF;
    border-radius: 61.5px;
    font-size: 18px;
}

button {
    cursor: pointer;
}

form {
    margin-top: 2%;
}

.input-item {
    margin-top: 2%;
}

input {
    width: 900px;
    height: 50px;
    padding: 2%;
    margin-top: 0.5%;
}

.input-file {
    width: 262px;
    height: 50px;
    font-size: 18px;
}

.register-button {
    margin-top: 2%;
    width: 285px;
    height: 50px;
}

.acc {
    margin-top: 2%;
}

.auth-button {
    width: 305px;
    height: 40px;
    border-radius: 40px;
    margin-top: 2%;
}

.logo {
    width: 150px;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 2vh;
    margin-right: 50%;
}

.logo p {
    margin-left: 6%;
    color: #FBCE04;
}
