a {
    text-decoration: none;
    color: #FFFFFF;
}

button {
    width: 266px;
    height: 64px;
    background-color: #3A3939;
    border-radius: 32px;
    color: #FFFFFF;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 206px;
}

.add-button {
    font-size: 96px;
    width: 100px;
    height: 100px;
    border-radius: 206px;
    background-color: #3A3939;
    position: relative;
    top: 19vh;
    right: 35vh;
    text-align: center;
}

.logout {
    width: 129px;
    height: 64px;
    font-size: 28px;
    background-color: #3A3939;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    border-radius: 32px;
}

.user-icon {
    position: relative;
    top: -2vh;
    left: 50vh;
}

.auth-buttons {
    margin-left: 20%;
}

.search_container input {
    background-color: #3A3939;
    width: 394px;
    height: 64px;
    border-radius: 32px;
    color: #FFFFFF;
    border: none;
    padding-left: 18%;
    font-size: 28px;
}

.loup {
    position: relative;
    left: 7vh;
    top: 10%;
    width: 30px;
    height: 30px;
    border-radius: 0px;
}

.logout {
    position: relative;
    left: 50vh;
}


